mixin slider(config)
  - const defaultConfig = require('../modules/slider/slider.json');
  - const newConfig = { ...defaultConfig, ...config };
  - const { textField, sliderType, isVertical, isInvert, 
  -   value1Slider, value2Slider, minValue, maxValue, 
  -   step, isLabel, isLabelOnClick, isScale, pointsForEach, 
  -   numberForEach, longForEach } = newConfig;

  div.slider.js-slider(
    data-textField= textField
    data-sliderType= sliderType
    data-isVertical= isVertical
    data-isInvert= isInvert
    data-value1Slider= value1Slider
    data-value2Slider= value2Slider
    data-minValue= minValue
    data-maxValue= maxValue
    data-step= step
    data-isLabel= isLabel
    data-isLabelOnClick= isLabelOnClick
    data-isScale= isScale
    data-pointsForEach= pointsForEach
    data-numberForEach= numberForEach
    data-longForEach= longForEach
  )
